@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-primary: #ebebeb;
  --color-text: #fafafa;
  --color-text-secondary: #a1a1aa;
  --color-border: #27272a;
  --color-button: #1f1f23;
}